.answer {
}

.answer_wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 1rem;
}

.answer_text {
  font-size: 20px;
  background-color: none;
  margin: 0;
}

.hidden {
  color: transparent;
  background-color: yellow;
}
