.question {
}

.question_wrapper {
  position: relative;
  background-color: #98fb98;
  padding: 8px 12px;
  display: flex;

  border-radius: 12px 12px 0 12px;
  margin-bottom: 16px;
  margin-left: 48px;

  max-width: 260px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.question_tag {
  position: absolute;
  right: 15px;
  top: -20px;
  font-size: 12px;
  padding: 1px 4px;
}

.easy {
  background-color: green;
}

.hard {
  background-color: red;
}

.medium {
  background-color: yellow;
  color: black;
}
